<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<div id="posts">
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post%></h2>
    On <%= post.created_at.strftime("%d/%b/%y")%>
    By <%= link_to post.user.username, post.user %>
    <%= premium_label(post.premium)%>
    <p>
      <%= link_to "Show this post", post %>
    </p>
    <hr>
  <% end %>
</div>
